@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Saira:wght@600&display=swap");
:root {
  --titleText: "Quicksand", sans-serif;
  --text: "Saira", sans-serif;
}
.name-filter_ListMovies {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
}
.name-filter_ListMovies p {
  font-family: var(--titleText);
  font-size: 4vw;
  font-weight: 100;
}
.name-filter_ListMovies select {
  max-width: 40vw;
  height: 25px;
  background-color: transparent;
  border-radius: 15px;
  padding: 0 10px;
  color: grey;
  font-family: var(--titleText);
}
.card {
  margin: 5px 5px;
  padding: 5px;
  width: 70vw;
}
.cardListPpal img {
  width: 65vw;
  margin: auto;
}
.buttonsCardList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.card button {
  width: 60vw;
  background: linear-gradient(
    90deg,
    rgba(0, 66, 255, 0.5) 0%,
    rgba(235, 0, 27, 0.5) 100%
  );
  border: none;
  font-family: var(--titleText);
}
.card-title {
  color: black;
  font-family: var(--titleText);
  font-size: 4vw;
}
.card h6 {
  font-family: var(--titleText);
  font-size: 3vw;
}
.card-body {  
  margin-bottom: 10px;
}
@media screen and (min-width: 575px) {
  .card-body {
    overflow-x: hidden;
    overflow-y: auto;
    height: 10vh;    
  }
  .name-filter_ListMovies {
    width: 50vw;
  }
  .name-filter_ListMovies p {
    font-size: 2vw;
  }
  .card {
    max-width: 20vw;
  } 
  .cardListPpal img {
    width: 95%;    
  }
  .card button {
    width: 17vw;   
  }
  .card-title {
    font-size: 1.4vw;
  }
  .card h6 {
    font-size: 1vw;
  }
  .card button {
    font-size: 1vw;
  }  
}
@media screen and (min-width: 870px) {
  .card-body {  
    height: 15vh;    
  }
  .name-filter_ListMovies {
    width: 50vw;
  }
  .name-filter_ListMovies p {
    font-size: 2vw;
  }
  .card {
    max-width: 15vw;
  }  
  .cardListPpal img {
    width: 95%;
  }
  .card button {
    width: 12vw;  
  }
  .card-title {
    font-size: 1.3vw;
  }
  .card h6 {
    font-size: 1.1vw;
  }
  .card button {
    font-size: 1vw;
  }
}
 
