
.home{
    z-index: 1;
    background-image: url("../assets/image/backgrounddashboard.png");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.container_movies {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 20px;
}

@media (min-width: 768px) { 
    .container_movies {
        grid-template-columns: repeat(3, 1fr);
    }
}
.footerHome{
    position:relative;
    bottom: 0;
    
}