.home {
  z-index: 1;
  background-image: url("../assets/backgroundOpacity.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;  
}
.container_movies {
  padding: 50px 0;  
  display: flex;
  flex-direction: column; 
}
@media (min-width: 575px) {
  .container_movies {
    width: 80vw;   
    justify-content: center;
    flex-direction: row;        
    flex-wrap: wrap;    
  }
}