.fondo{
  background-image: url('./backgroundLogin.png');
  background-size: cover;
  background-repeat: repeat-x;
  height: 100vh;
  display: flex;
}

.containerLogin {
  background-image: linear-gradient(279deg, rgb(0, 66, 255), rgb(235, 0, 27));
  border-radius: 20px;
  margin: auto;
  padding: 15px;
  max-width: 450px;
  align-content: center;
  opacity:0.9;
  height: 320px;
}

label {
  color: #fff;
}

.input {
  display: block;
  background-color: #212121;
  width: 100%;
  height: 40px;
  padding: 10px;
  /* text-align: center; */
  border: 2px solid white;
  border-radius: 5px;
  /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}

.input:focus {
  color: rgb(255, 0, 179);
  background-color: #212121;
  outline-color: rgb(255, 1, 255);
  box-shadow: -3px -3px 15px rgb(182, 0, 158);
  transition: 0.1s;
  transition-property: box-shadow;
}

.Principal {
  color: #fff;
  justify-content: center;
  left: 0;
  right: 0;
  display: flex;
  padding: 5px;
}

.Ingresar {
  margin: 0px auto;
  border-radius: 40px;
}

button {
  font-family: inherit;
  font-size: 20px;
  background: #000;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 46px;
  overflow: hidden;
  transition: all 0.2s;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

.olvidar {
  color: #fff;
  justify-content: center;
  left: 0;
  right: 0;
  display: flex;
  padding: 15px;
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.input {
  background-color: #212121;
  width: 100%;
  height: 40px;
  padding: 10px;
  /* text-align: center; */
  border: 2px solid white;
  border-radius: 5px;
  /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}

.input:focus {
  color: rgb(0, 255, 255);
  background-color: #212121;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: 0.1s;
  transition-property: box-shadow;
}
@media only screen and (max-width: 420px) {
  .containerLogin {
    border-radius: 20px;
    margin: auto;
    padding: 15px;
    max-width: 280px;
    align-content: center;
    height: 240px;
  }

  .Principal {
    color: #fff;
    font-size: 20px;
    justify-content: center;
    left: 0;
    right: 0;
    display: flex;
    padding: 0px;
  }

  button {
    font-family: inherit;
    font-size: 18px;
    background: #000;
    color: white;
    padding: 0.3em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 46px;
    overflow: hidden;
    transition: all 0.2s;
  }

  .Ingresar {
    margin: 0px auto;
    border-radius: 40px;
  }
  
}
