.home2{
    z-index: 1;
    background-image: url("../assets/image/backgrounddashboard.png");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    padding: 1rem 0 0 0 ;
}
