.head {
  background-color: #131313;
  color: white;  
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conta {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;  
  flex-wrap: wrap;
}
.logo img {
  width: 12rem;
}
.logoDevflix {
  width: 60%;
  margin-left: 0rem;
}
.info h1 {
  font-size: 1rem;
  margin: 0px;
}
.info h2 {
  font-size: 0.9rem;
}
.icongr {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin-bottom: 0.2rem;
}
.add {
  background: linear-gradient(
    90deg,
    rgba(0, 21, 142, 1) 0%,
    rgba(187, 14, 14, 1) 100%
  ); 
  border-radius: 50px;   
  width: 120px; 
}

/* QUERY TABLET */
@media (min-width: 766px) {  
  .info {
    width: 200px;      
  }
  .info h1 {
    font-size: 30px;
  }
  .info h2 {
    font-size: 20px;
  }
  .icongr {
    width: 60px;    
  }
  .add {
    width: 150px;
    height: 30px;    
  } 
}
/* ---ESTILOS PARA EL FORMULARIO --- */
.modal-content {
  color: white;
  opacity: 0.9;
  padding: 0 30px;
  background-image: linear-gradient(279deg, rgb(0, 66, 255), rgb(235, 0, 27));
}
.modal-header .modal-title label.form-label {
  color: white;
}

/* QUERY DESKTOP */
@media (min-width: 1024px) {
  .conta{
    height: 90px;
  }
  .logo img {
    width: 200px;    
  } 
  .info h1 {
    font-size: 40px;
  }
  .info h2 {
    font-size: 25px;
  }
  .icongr {
    width: 80px;    
  }
  .add {
    width: 170px;   
    font-size: 25px;
  }
}
